
@tailwind base;
@tailwind components;
@tailwind utilities;


/* this for span under .elebox , same thing repeat so I write to minimize code */
.wrapper .elebox span{
    position: relative;
    display: block;
    width: 2rem;
    height: 2rem;
}
.wrapper .elebox span::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 300%;
    height: 300%;
    background: #00ff0a;
    filter: blur(50px);
    border-radius: 50%;
    transform: scale(0);
    transition: 2s;
    box-shadow: 0 0 10px #00ff0a,0 0 20px #00ff0a,0 0 40px #00ff0a,0 0 60px #00ff0a,0 0 80px #00ff0a,;
}
.wrapper .elebox span:hover::before{
    transform: scale(1);
    transition: 0s;
}
